<div class="modal-header">
    <h3 class="modal-title">Sign Up</h3>
</div>
<div class="modal-body">
    <p>

    <div class="row" style="text-align: center;">
        Please Use Google Account To Sign Up For vOffice Online
    </div>
    </p>

    <div style="text-align: center;">
        <button class="btn btn-register" type="button" ng-click="save()">Sign Up Using Google</button>
        <br/>

    </div>

    <hr/>
    <div>
        <div>Or Using Your Email Address</div>
        <div>
            <input id="email" class="form-control" type="text" ng-model="user.email" placeholder="name@company.com"/>
        </div>

    </div>
</div>

</div>
<div class="modal-footer">
    <button class="btn btn-register" type="button" ng-click="save()">Sign Up</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
